body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0px;
  height: 64px;
  width: 100%;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.navbar {
  margin-right: 90px;
  height: 64px;
  display: flex;
  align-items: center;
 }

 @media only screen and (max-width: 1023px) {
  .navbar {
    display: none
  }
 }

.navbar-mobile {
  display: none;
  margin-right: 90px;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .navbar-mobile {
    display: block;
    margin-right: 20px
  }
  .navbar__logo {
    margin-left: 20px !important
  }
  .news_header {
    margin: 0 20px
  }
 }

#navMenu {
  display: none;
  margin-top: 64px;
  position: fixed;
  width: 100%
}

.navmenu__item {
  cursor: pointer;
  background-color: #f6f7f6;
  text-align: center;
  border-bottom: 1px solid rgba(151,151,151,0.5);
  padding-top: 0.75rem;
  color: rgba(0,0,0,0.87);
  height: 40px;
}

.navmenu__item:first-child {
  border-top: 1px solid rgba(151,151,151,0.5);
}

.navmenu__item:hover {
  background-color: #fafafa;
  color: #3273dc;
}

.navbar a {
  color: rgba(0,0,0,0.87);
  padding: 1.5rem 0.75rem;
  text-decoration: none;
  line-height: 1.5;
}

.navbar a:hover {
  background-color: #fafafa;
  color: #3273dc;
}

.navbar__logo {
  width: 286px;
  margin-left: 90px;
}

.news_header {
  display: flex;
  justify-content: space-between;
  padding: 6.5rem 0 1rem;
  margin-bottom: 3.25rem;
  border-bottom: 1px solid rgba(151,151,151,0.23);
}

.news_header__title {
  font-size: 2.8rem;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 0.42px;
  color: rgba(0,0,0,0.87);
}

.news_social-bar {
  display: flex;
  align-items: center;
}

.news_social-bar__item {
  margin-right: 1.4rem;
}

@media only screen and (min-width: 1024px) {
  .news_container {
    width: 960px;
    margin: 0 auto;
  }
}

.grid-container {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  grid-template-columns: 310px 310px 310px
}

@media only screen and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: auto;
    margin: 0 20px
  }
  .grid-item {
    width: 100% !important
  }
  .grid-image {
    height: 100% !important
  }
  .grid-date {
    font-size: 0.75rem !important;
  }
  .grid-title {
    font-size: 1rem !important;
  }
}

.grid-item {
  width: 310px
}

.grid-item a {
  text-decoration: none
}

.grid-image {
  height: 174px;
  width: 100%;
  object-fit: cover;
}

.grid-date {
  font-size: 1.06rem;
  font-weight: 100;
  letter-spacing: 0.16px;
  color: #069fdf;
  margin-top: 10px;
  margin-bottom: 0px;
}

.grid-title {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.23px;
  color: rgba(0,0,0,0.87);
  margin: 0px;
}

.footer-container {
  display: grid;
  grid-template-columns: 30px 550px 30px 350px;
  margin-top: 30px;
  padding: 60px 90px;
  border-top: 1px solid #979797;
  grid-template-rows: 50px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.footer-item-1 {
  grid-row: 1 / span 2;
}

.footer-item-2 {
  grid-row: 1 / span 2;
}

.footer-item-7 {
  display: flex;
  grid-column: 1/ span 2;
}

.footer-item-7 a {
  margin-right: 1.37rem;
}

.footer-item-6 a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}
